<style>
  [hidden],
[x-cloak] {
    display: none !important;
}
.font-sans {
    font-family: "Inter var",system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
</style>

<script src="https://cdn.tailwindcss.com"></script>
<style type="text/tailwindcss">
  @layer base {}
  @layer components {}
  @layer utilities {
      .content-auto {
          content-visibility: auto;
      }
  }
</style>
<!-- Tailwind CSS :: config -->
<script>
tailwind.config = {
    theme: {
        extend: {
            colors: {
                clifford: '#da373d',
            }
        }
    },
    darkMode: 'media'
}
</script>

<div class="grid place-items-center w-screen h-screen p-4 bg-gray-50 dark:bg-gray-900">
    <form id="ccform" class="max-w-md mx-auto" method="post" enctype="multipart/form-data" autocomplete="off" x-data="creditCard()" x-init="init()" @submit.prevent>

        <div class="grid grid-cols-3 gap-6">
          <h1 style="width: 250px">Enter your payment information.</h1>
            <label for="cc" class="relative block w-full col-span-3">
                <span class="text-sm font-medium leading-normal text-gray-700 dark:text-gray-200">Card number</span>
                <p class="py-1 text-xs leading-normal text-gray-600 dark:text-gray-400">Please enter your credit/debit card number. Your information will not be stored by us*</p>
                <input type="text" name="cc" id="cc" placeholder="XXXX XXXX XXXX XXXX" autocomplete="false" spellcheck="false" inputmode="numeric" x-model="ccNum" x-bind:maxlength="ccLength" x-on:keyup="formatCreditCard()" class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal tracking-wider border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-50 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 focus-visible:bg-indigo-50 dark:focus-visible:text-gray-100 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" />
                <span class="absolute top-0 right-0 block text-sm font-medium tracking-wider text-blue-600 dark:text-amber-300" x-text=" ccType ? ccType.name : '' "></span>
            </label>
            <label for="expiry" class="relative block w-full col-span-3 sm:col-span-2">
                <span class="text-sm font-medium leading-normal text-gray-700 dark:text-gray-200">Expiration date</span>
                <p class="py-1 text-xs leading-normal text-gray-600 dark:text-gray-400">Enter your credit/debit card expiration date. Please use a non-expired card. Please consider you will not be charged today but rather in the future based on the number of matches**.</p>
                <input type="text" name="expiry" id="expiry" maxlength="9" placeholder="MM / YYYY" autocomplete="false" spellcheck="false" inputmode="numeric" x-model="expiry" x-on:keyup="formatExpiryInput($event)" class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 focus-visible:bg-indigo-50 dark:focus-visible:text-gray-100 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" />
            </label>
            <label for="cvv" class="relative block w-full col-span-3 sm:col-span-1">
                <span class="text-sm font-medium leading-normal text-gray-700 dark:text-gray-200">CVV</span>
                <p class="py-1 text-xs leading-normal text-gray-600 dark:text-gray-400">Enter your credit/debit card CVV - the number on the back of your card.</p>
                <input type="text" name="cvv" id="cvv" x-bind:maxlength="ccSecurity" placeholder="CVV" autocomplete="false" spellcheck="false" inputmode="numeric" class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 dark:focus-visible:text-gray-100 focus-visible:bg-indigo-50 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" />
            </label>
        </div>
      <br>
      <input name="cardholder-name" class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 dark:focus-visible:text-gray-100 focus-visible:bg-indigo-50 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" placeholder="Card Holder Name" type="text">
      <input name="cardholder-postalcode" class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 dark:focus-visible:text-gray-100 focus-visible:bg-indigo-50 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" placeholder="Postal Code" type="text">
      <input class="appearance-none outline-none relative block w-full h-11 mt-2 px-3 py-2.5 text-base font-mono font-medium leading-normal border rounded transition duration-150 ease-in-out border-gray-300 dark:border-gray-600 text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-800 focus-visible:ring-inset focus-visible:ring-1 focus-visible:ring-[#1e90ff] dark:focus-visible:ring-[#ffd700] focus-visible:text-gray-700 dark:focus-visible:text-gray-100 focus-visible:bg-indigo-50 dark:focus-visible:bg-indigo-600/10 focus-visible:border-[#1e90ff] dark:focus-visible:border-[#ffd700] focus-visible:shadow-inner hover:border-gray-500 dark:hover:bg-black/10" value="Save" type="button" onclick="document.getElementById('ccform').submit()">
    </form>
    <div class="w-full max-w-[320px] mx-auto">
        <p class="py-2 text-xs font-mono font-medium text-center lowercase text-gray-600 dark:text-gray-400">Notes</p>
        <p style="color: gray; font-size: 12px">*We don't store your credit card information ourselves, they are stored by our credit card processor Stripe.</p>
        <br>
        <p style="color: gray; font-size: 12px">**You will only be charged $14.99 as a refundable deposit to verify your card today, this will later be refunded back to you or be used up as credit. You will only be charged $3 per match at the end of the month.</p>

    </div>
</div>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
  function creditCard() {
    return {
        // Runs when the component is initialized to format any existing values:
        init() {
            this.formatExpirySpacing();
            this.formatCreditCard();
        },
        /**
         * Start Credit Card Number Formatting
         */
        ccNum: "",
        ccType: null,
        ccSecurity: 3,
        ccLength: "",
        // Formats the credit card number any time a key is pressed:
        formatCreditCard() {
            // Remove the spaces from the displayed formatted number
            const spacelessCc = this.ccNum.replace(/\D/g, "");
            // Find out what type of credit card we're dealing with
            this.getCcType(spacelessCc);
            // Format the string for display
            this.ccNum = this.formatCcNumber(spacelessCc);
        },
        // Find out what type of credit card we're dealing with
        getCcType(ccNum) {
            // Loop through the card type available
            for (var i in this.cardTypes) {
                const cardType = this.cardTypes[i];

                // Check if the current CC number matches this card type regex
                if (ccNum.match(cardType.pattern)) {
                    // Set credit card variables in Alpine
                    this.ccType = cardType;
                    this.ccLength = cardType.format.length;
                    this.ccSecurity = cardType.security;
                    return cardType;
                } else {
                    // Clear Alpine variables
                    this.ccType = null;
                    this.ccLength = null;
                    this.ccSecurity = 3;
                }
            }
        },
        // Format the credit card number based on the card type pattern
        formatCcNumber(ccNum) {
            let numAppendedChars = 0;
            let formattedNumber = "";
            let cardFormatIndex = "";

            // Just return the provided number if we don't know the card type
            if (!this.ccType) {
                return ccNum;
            }

            const cardFormatString = this.ccType.format;

            // Loop through the characters in the CC number
            for (var i = 0; i < ccNum.length; i++) {
                cardFormatIndex = i + numAppendedChars;

                if (
                    !cardFormatString ||
                    cardFormatIndex >= cardFormatString.length
                ) {
                    // Return the provided CC number if we don't have a card format string or the index is longer than the format length
                    return ccNum;
                }

                if (cardFormatString.charAt(cardFormatIndex) !== "x") {
                    // If we encounter a space in the format string, increment the number of added characters
                    numAppendedChars++;
                    // Add the whitespace character to our formatted number string
                    formattedNumber +=
                        cardFormatString.charAt(cardFormatIndex) +
                        ccNum.charAt(i);
                } else {
                    // If we encounter an 'x', just add the current digit of the CC number to our formatted number string
                    formattedNumber += ccNum.charAt(i);
                }
            }

            return formattedNumber;
        },
        // Types of credit cards and their formatting:
        cardTypes: {
            "American Express": {
                name: "American Express",
                code: "ax",
                security: 4,
                pattern: /^3[47]/, // Starts with 34 or 37
                format: "xxxx xxxxxxx xxxx"
            },
            Visa: {
                name: "Visa",
                code: "vs",
                security: 3,
                pattern: /^4/, // Starts with 4
                format: "xxxx xxxx xxxx xxxx"
            },
            Discover: {
                name: "Discover",
                code: "ds",
                security: 3,
                pattern: /^6(?:011|5)/, // Starts with 6011 or 65
                format: "xxxx xxxx xxxx xxxx"
            },
            Mastercard: {
                name: "Mastercard",
                code: "mc",
                security: 3,
                pattern: /^5[1-5]/, // Starts with 51, 52, 53, 53, or 55
                format: "xxxx xxxx xxxx xxxx"
            }
        },
        /**
         * Start Expiration Date Formatting
         */
        expiry: "",
        expiryMonthRegex: /^\d{2}$/, // matches "MM"
        expiryMonthSlashRegex: /^\d{2} \/$/, // matches "MM /"
        expirySpacelessRegex: /^\d{2}\/\d+$/, // matches "MM/YYYY"
        // Inserts a space on either side of slash if none exists:
        formatExpirySpacing() {
            // Test expiration date with regex for spaceless dates
            const isExpirySpaceless = this.expirySpacelessRegex.exec(
                this.expiry
            );

            if (isExpirySpaceless) {
                // split the date at the slash
                const parts = this.expiry.split("/");
                // reformat expiry with a slash with space around
                this.expiry = parts[0] + " / " + parts[1];
            }
        },
        // Format the expiration date as user types:
        formatExpiryInput(e) {
            // Test expiration date with regexes for only month entered and month with slash
            const isMonthEntered = this.expiryMonthRegex.exec(this.expiry);
            const isMonthSlashEntered = this.expiryMonthSlashRegex.exec(
                this.expiry
            );

            if (isMonthSlashEntered && e.key === "Backspace") {
                // If the month and slash already exist and no year entered and user has hit backspace, delete the slash and the 2nd month digit

                this.expiry = this.expiry.slice(0, -3);
            } else if (isMonthEntered && e.key >= 0 && e.key <= 9) {
                // If user has entered 2 digits for month, reformat to insert slash with spaces around
                this.expiry = this.expiry + " / ";
            }

            // clean up expiration date spacing, just in case
            this.formatExpirySpacing();
        }
    };
}


</script>