<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MatchMasters</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,1000;1,9..40,700&family=Open+Sans:wght@300;500&family=PT+Sans:wght@400;700&display=swap');
        body{
            font-family: "DM Sans";
        }
    </style>
</head>
<body>
    <div style="border-bottom: 1px solid rgb(200, 200, 200)">
        <img src="/static/logo-blue-on-white.png" style="width: 50px" alt="">
        <span style="color: white; float: right; margin-top: 5px; margin-right: 20px; font-size: 12px; background-color: #3482e7; padding: 10px; border-radius: 15px">Erken Erişim için üye olun</span>
        <span style="color: rgb(100, 100, 100); float: right; margin-top: 17px; margin-right: 20px; font-size: 12px">BusinessOS mobil sürümü henüz yayında değil ama bu erken siparişe engel olamaz! Detaylı bilgi için masaüstünden bu sayfayı ziyaret edin.</span>
    </div>
    <br>
    <center style="margin: auto; width: fit-content; height: fit-content; top: 0; left: 0; right: 0; bottom: 0; position: absolute">
        <img style="width: 150px; border-radius: 15px" src="/static/logo-white-on-blue.png" alt="">
        <form method="post" enctype="multipart/form-data">
            <br>
            <input name="email" type="text" placeholder="Email Adresiniz" style="width: 60%; border-radius: 50px; padding: 20px; font-size: 1.5rem; border: 1px solid rgb(200, 200, 200); outline: none">
            <br>
            <br>
            <input type="submit" style="width: fit-content; border-radius: 50px; padding: 20px; font-size: 1.5rem; border: none; background-color: #3482e7; color: white" value="Kayıt Ol">
        </form>
    </center>
</body>
</html>