<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ModStore - Everything Business</title>
    <script src="https://kit.fontawesome.com/a6c8be30d8.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,1000;1,9..40,700&family=Open+Sans:wght@300;500&family=PT+Sans:wght@400;700&display=swap');
        body{
            font-family: "DM Sans";
        }
        @media (max-width:1200px) {
            .hid_cont{
                display: none;
            }
        }
    </style>
</head>
<body>
    <div style="border-bottom: 1px solid rgb(200, 200, 200)">
        <img src="/static/logo-blue-on-white.png" style="width: 50px" alt="">
        <span style="color: black; font-size: 12px; border-radius: 15px; position: absolute; top: 26px">ModStore for BusinessOS</span>
        <span style="color: white; float: right; margin-top: 5px; margin-right: 20px; font-size: 12px; background-color: #3482e7; padding: 10px; border-radius: 15px">Oturum Aç</span>
        <span style="color: rgb(100, 100, 100); float: right; margin-top: 17px; margin-right: 20px; font-size: 12px">Kayıt Ol</span>
        <span style="color: rgb(100, 100, 100); float: right; margin-top: 17px; margin-right: 20px; font-size: 12px">BusinessOS için uygulama geliştirin</span>
    </div>
    <div class="hid_cont" style="color: #1d1d1f; background-color: white; border-right: rgb(200, 200, 200) solid 1px; width: 20%; height: 100%; padding: 2%; float: left; position: absolute">
        <div style="width: 3px; height: 33px; float: left; background-color: #3482e7"></div>
        <div style="font-size: 18px; color: gray; background-color: rgba(200, 200, 200, 0.2); width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-house"></i> <span >Home</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-magnifying-glass"></i> <span >Search</span></div>
        <br style="clear: both">
        <hr>
        <br style="clear: both">
        Categories
        <br style="clear: both">
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-handshake-angle"></i> <span >Collaboration</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-industry"></i> <span >Project Management</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-envelope"></i> <span >Communication</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-gear"></i> <span >ERP</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-info"></i> <span >Wiki</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-comments"></i> <span >Social</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-database"></i> <span >Data Analysis</span></div>
        <br style="clear: both">
        <div style="font-size: 18px; color: gray; width: 95%; float: left; padding: 5px"><i style="margin-right: 5px;" class="fa-solid fa-brain"></i> <span >AI Tools</span></div>
    </div>
    <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 150%), url('https://www.forbes.com/advisor/wp-content/uploads/2022/06/What_Is_QuickBooks_-_article_image.jpg'); width: 900px; height: 500px; background-size: 100% 100%; float: right; margin-right: 120px; border-radius: 10px; margin-top: 25px; color: white;">
        <h1 style="margin-left: 150px; margin-top: 170px">QuickBooks</h1>
        <p style="margin-left: 150px; width: 50%">QuickBooks. Better. Faster. Simpler.</p>
        <p style="color: white; margin-top: 25px; width: fit-content; margin-left: 150px; font-size: 1rem; background-color: #3482e7; padding: 10px; border-radius: 15px">More information</p>
    </div>
    <br style="clear: both">
    <div style="margin-left: 31.5%; clear: both; margin-top: 50px">
        <center style="border-radius: 10px; border: 1px solid rgb(200, 200, 200); width: 150px; height: 250px; float: left; margin-left: 25px; margin-top: 15px">
            <img src="https://yt3.googleusercontent.com/ytc/AOPolaTCsMhpgrJldSw0eABzVJ9JEc1pYyTST4CJ7JzN1Q=s900-c-k-c0x00ffffff-no-rj" style="width: 90px; border-radius: 10px; margin-top: 10px;">
            <br style="clear: both">
            <p style="float: left; margin-left: 10px">Slack</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray">Collaboration</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
        </center>
        <center style="border-radius: 10px; border: 1px solid rgb(200, 200, 200); width: 150px; height: 250px; float: left; margin-left: 25px; margin-top: 15px">
            <img src="https://play-lh.googleusercontent.com/KSuaRLiI_FlDP8cM4MzJ23ml3og5Hxb9AapaGTMZ2GgR103mvJ3AAnoOFz1yheeQBBI" style="width: 90px; border-radius: 10px; margin-top: 10px;">
            <br style="clear: both">
            <p style="float: left; margin-left: 10px">Gmail</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray">Communication</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
        </center>
        <center style="border-radius: 10px; border: 1px solid rgb(200, 200, 200); width: 150px; height: 250px; float: left; margin-left: 25px; margin-top: 15px">
            <img src="https://project-management.com/wp-content/uploads/2022/12/atlassian_jira.png" style="width: 90px; border-radius: 10px; margin-top: 10px;">
            <br style="clear: both">
            <p style="float: left; margin-left: 10px">Jira</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray">Project Management</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
        </center>
        <center style="border-radius: 10px; border: 1px solid rgb(200, 200, 200); width: 150px; height: 250px; float: left; margin-left: 25px; margin-top: 15px">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Font_Awesome_5_brands_github.svg/1200px-Font_Awesome_5_brands_github.svg.png" style="width: 90px; border-radius: 10px; margin-top: 10px;">
            <br style="clear: both">
            <p style="float: left; margin-left: 10px">Github</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray">Collaboration</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
        </center>
        <center style="border-radius: 10px; border: 1px solid rgb(200, 200, 200); width: 150px; height: 250px; float: left; margin-left: 25px; margin-top: 15px">
            <img src="https://erproof.com/wp-content/uploads/2012/03/what-is-sap.png" style="width: 90px; border-radius: 10px; margin-top: 10px;">
            <br style="clear: both">
            <p style="float: left; margin-left: 10px">SAP</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray">ERP</p>
            <br style="clear: both">
            <p style="float: left; margin-left: 10px; font-size: 10px; color: gray"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
        </center>
    </div>
    <br style="clear: both">
</body>
</html>